.about__features
    display flex
    justify-content space-between
    margin-top 35px
    @media (max-width 749px)
        flex-direction column
        align-items center

.about__feature
    max-width 240px
    padding 0 10px
    @media (max-width 749px)
        & + .about__feature
            margin-top 30px

.about__icon
    vertical-align top

.about__title
    margin .5em 0
    font-family 'Proxima Nova Lt', sans-serif
    font-size 24px
    font-weight 600

.about__text
    line-height 1.4
    font-family 'Proxima Nova Lt', sans-serif
    font-weight 300
