.feedback
    font-family 'Proxima Nova Lt', sans-serif

.feedback__head-text
    font-size 29px
    font-weight 600

.feedback__text
    margin 1em 0
    font-size 18px
    line-height 1.4

.feedback__form
    display flex
    align-items stretch
    margin 0 auto
    max-width 500px
    border-radius 6px
    overflow hidden
    border 1px solid #736256
    height 40px


.feedback__input
    flex 1
    border 0
    padding 0 1em
    font-family 'Proxima Nova Lt', sans-serif
    font-size 18px
    font-style italic


.feedback__button
    min-width 120px
    border 0
    background-color #736256
    color #ffffff
    cursor pointer
    font-family 'Proxima Nova Lt', sans-serif
    font-size 18px
    font-style italic

    &:hover
        background-color darken(#736256, 15%)
