.is-not
    background-image url(../images/bug-type-1.png), url(../images/bug-type-2.png)
    background-repeat no-repeat
    background-position 5% -30%, 95% 130%

.is-not__text
    margin .5em 0
    font-size 24px
    font-weight 600

.is-not__sub-text
    font-size 14px
    font-weight 300
    font-style italic
