.page
    background-color #ffffff
    font-family "Proxima Nova Lt", Arial, sans-serif
    font-size 18px
    color #736256
    text-align center

.page__section
    padding 40px 0

.page__section_dark
    background-color #736256
    color #ffffff

.page__limiter
    margin auto
    max-width 1200px

.page__footer
    padding 25px 0
    color #ffffff
    background-image url(../images/bug-type-3.png)
    background-position 90% 50%
    background-repeat no-repeat
    background-color #998575
