.title
    uppercase()
    font-family 'Avenir Next', sans-serif
    font-size 60px
    color #736256
    letter-spacing 0.1em
    @media (max-width 749px)
        font-size 40px

.title_light
    color #ffffff
